<div id="dashboard">
<img src="images/toggle.png" id="toggle">
<!--list of widgets-->
<div id="dashboard-menu">  
        <ul>  
            <li>  
            <img src="images/gauge.png"> <br> Dashboard  
            </li>  
            <li>  
            <img src="images/mail.png"> <br> E-Mail Client  
            </li>  
            <li>  
            <img src="images/calendar.png"> <br> Calendar  
            </li>  
            <li>  
            <img src="images/map.png"> <br> Geolocation  
            </li>  
            <li>  
            <img src="images/note.png"> <br> Sticky Note  
            </li>  
            <li>  
            <img src="images/wireless.png"> <br> AirPort  
            </li>  
            <li>  
            <img src="images/calculator.png"> <br> Calculator  
            </li>  
        </ul>  
</div>
<div id="dot-container">
<div id="dot-container">
<div style="margin-left:0em; margin-bottom: -.5em">
<span class="dot"> </span><span class="dot"> </span><span class="dot"> </span><span class="dot"> </span><span class="dot"> </span><span class="dot"> </span>
</div>
<div style="margin-left:0.4em; margin-bottom: -.5em">
<span class="dot"> </span><span class="dot"> </span><span class="dot"> </span><span class="dot"> </span>
</div>
</div>

</div>
</div> 
