<!DOCTYPE html>
 <div class="left">
 <p>I am left</p>
 </div>

 <div class="right">
  <%= render :template => 'devise/sessions/new' %>
  <%= link_to t(:sign_up), new_user_registration_path  %>
 </div>
