<!DOCTYPE html>
<html>
  <head>
    <title>info control</title>
  </head>
  <body>
  <% if ! user_signed_in? %>
  <%= render :template => 'devise/sessions/new' %>
  <% else  %>
    <%= link_to t(:logout), destroy_user_session_path , :method => :delete  %> <br />
    <%= link_to t(:edit_my_profile_info), edit_user_registration_path %>
  <% end %>
   
  </body>
</html>
