<h1><%= link_to "Listing projects", projects_path %></h1>

<table id="projects" class="display">
  <tr>
    <% Project.attribute_names.each do |name| %>
    <th><%= name %></th>
    <% end  %>
  </tr>

<% @attr_constrains = ["id" ,"contract_id", "user_id"] %>
<% @projects.each do |project| %>
  <tr>
    <% Project.attribute_names.each do |name| %>
    <% if ( ! @attr_constrains.nil? ) and @attr_constrains.member?(name)  %>
      <td><%= project.send(name) %></td>
    <% else %>
      <td><%= best_in_place project, name, :type => :date %></td>
    <% end  %>
    <% end  %>
  </tr>
<% end %>
</table>

<br />
