<%= form_for(@manufacture) do |f| %>
  <% if @manufacture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manufacture.errors.count, "error") %> prohibited this manufacture from being saved:</h2>

      <ul>
      <% @manufacture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
