

<li>
<%= link_to "New cata" ,new_cata_path %>
</li>
<% if @pcata.nil?  %>
<% @catas.each do |cata|  %>
<li>
<%= link_to cata.tname, cata_path(:pp => cata.id), :remote => true %>
</li>
<% end  %>
<% else  %>

<% @catamaps.each do |catamap|  %>
<li>
<%= link_to Cata.find(catamap.cata_id).tname, catas_list_path(:pp => cata_id), :remote => true %>
</li>
<% end  %>
<% end  %>
