// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
min-height:50px;
width: 100%;
height: 150px;
border: 1px ;
solid : #666;
background: #cfcfcf;
bordercolor: #000;
}

.left {
min-height:50px;
width: 50%;
height: 600px;
float: left;
background: #cfcfcf;
bordercolor: #000;
}

.right {
width: 50%;
height: 600px;
float: right;
background: #cfcfcf;
bordercolor: #000;
}

.bottom {
width: 100%;
height: 150px;
background: #cfcfcf;
bordercolor: #000;
}
