// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#bodycenter{
//	float:center;
/*
	background-image: url(/assets/bodycenter.gif);
	background-repeat: no-repeat;
*/
        margin: 0 auto;
	width: 65%;
}	
