// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.str {
float: left;
display: inline;
}

.sep {
float: left;
width: 45%;
bordercolor: #000;
border:5px solid white;
}
